<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itrn.demo.mapper.UserMapper">

    <!-- 사용자 등록 -->
    <insert id="setSignUpForm">
        INSERT INTO USER_T (
        			USER_NO
        		  , USER_EMAIL
        		  , USER_NAME
        		  , USER_PW
        		  , USER_PHONE
        		  , SIGNUP_DT)
        VALUES (
        		    USER_SEQ.NEXTVAL
        	      , #{userEmail}
        	      , #{userName}
        	      , #{userPw}
        	      , #{userPhone}
        	      , current_date)
    </insert>
    
	<select id="setSignInForm" resultType="UserDto">
	    SELECT USER_EMAIL
	    	 , USER_PW 
	      FROM USER_T
	     WHERE USER_EMAIL = #{userEmail}
	       AND USER_PW = #{userPw}
	</select>
	
	<select id="getUserList" resultType="UserDto">
		SELECT USER_NO
			 , USER_EMAIL
			 , USER_NAME
			 , USER_PW
			 , USER_PHONE
			 , SIGNUP_DT
		  FROM USER_T
	</select>


</mapper>
